PROJECT_NAME="fbp-backend"
PROJECT_DESCRIPTION="The backend for fbp"
PROJECT_VERSION="0.1"

POSTGRES_USER=admin
POSTGRES_PASSWORD=0123456
POSTGRES_DB=fbp
DATABASE_URL=postgresql://admin:0123456@fbp-db:5432/fbp

CORS_ORIGINS=["http://localhost:3000"]
CORS_METHODS=["*"]
CORS_HEADERS=["*"]
API_STR="/api"
